*{
  margin: 0;
  padding: 0;
  font-family:inherit;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../21.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.nav{
  color: #fff;
  position: absolute;
  top:5%;
  left:15%;
}
.link{
  color:#fff;
  position: absolute;
  top:25%;
  left:15%;

}
.kiru{
  color:#fff;
  position: absolute;
  top:45%;
  left:15%;
}
.ler{
  color:#fff;
  position: absolute;
  top:65%;
  left:15%;
}
.sri{
  color:#fff;
  position: absolute;
  top:85%;
  left:15%;
}
.button1{
  position: absolute;
  top:7%;
  left:65%;
  transform: translate(-7%,-65);
}
.button2{
  position: absolute;
  top:27%;
  left:65%;
  transform: translate(-7%,-65);
}
.button3{
  position: absolute;
  top:47%;
  left:65%;
  transform: translate(-7%,-65);
}
.button4{
  position: absolute;
  top:67%;
  left:65%;
  transform: translate(-7%,-65);
}
.button5{
  position: absolute;
  top:87%;
  left:65%;
  transform: translate(-7%,-65);
}

.btn{
  border: 2px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover{
  background-color: #fff;
  color: #000;
  font-style:normal;
}
